<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <forix_account_live>
            <general>
                <enabled>0</enabled>
                <msg_text>Be careful with your actions!!!</msg_text>
            </general>
        </forix_account_live>
    </default>
</config>
